<div class="reset-password-wrapper">
    <h2>Réinitialisation du mot de passe</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="password">Nouveau mot de passe</label>
            <input type="password" id="password" [(ngModel)]="password" name="mot_de_passe" required placeholder="Entrer votre nouveau mot de passe" />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirmer le mot de passe</label>
            <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="mot_de_passe_confirmation" required placeholder="Confirmer votre nouveau mot de passe" />
        </div>
        <button type="submit" class="submit-button">Réinitialiser le mot de passe</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
</div>