<div class="container">
    <div class="header">
      <a href="#">> Cohortes</a>
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search"
          (input)="searchCohortes($event)"
        />
        <button>Filters</button>
        <button (click)="openCreateModal()">+ Créer une Cohorte</button>
        <button
          *ngIf="selectedCohortes.length > 0"
          (click)="deleteSelectedCohortes()"
        >
          Supprimer
        </button>
      </div>
    </div>
  
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th><input type="checkbox" (change)="toggleAllSelection()" /></th>
            <th>Cohortes</th>
            <th>Description <i class="fas fa-info-circle"></i></th>
            <th>Nombre d'employés</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cohorte of paginatedCohortes">
            <td>
              <input
                type="checkbox"
                [(ngModel)]="cohorte.selected"
                (change)="toggleSelection(cohorte)"
              />
            </td>
            <td>{{ cohorte.nom_cohorte }}</td>
            <td>{{ cohorte.description }}</td>
            <td>{{ cohorte.nbre_employe }}</td>
            <td class="actions">
              <a (click)="openEditModal(cohorte)">Modifier</a>
              <a class="delete" (click)="openDeleteModal(cohorte)"
                >Supprimer</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="pagination">
      <a class="nav-button" (click)="goToPage(currentPage - 1)">Précédent</a>
      <ul class="pages">
        <li *ngFor="let page of [].constructor(totalPages); let i = index">
          <a [class.active]="currentPage === i + 1" (click)="goToPage(i + 1)">{{
            i + 1
          }}</a>
        </li>
      </ul>
      <a class="nav-button" (click)="goToPage(currentPage + 1)">Suivant</a>
    </div>
  </div>
  
  <!-- Modal de création -->
  <div class="modal-backdrop" *ngIf="showModal">
    <div class="modal">
      <header>
        <h2>Créer une Cohorte</h2>
      </header>
      <form [formGroup]="cohorteForm" (ngSubmit)="createCohorte($event)">
        <label for="cohorte-name">Nom de la Cohorte</label>
        <input
          type="text"
          id="cohorte-name"
          formControlName="nom_cohorte"
          placeholder="Entrez un nom"
        />
        <label for="description">Description</label>
        <textarea
          id="description"
          formControlName="description"
          placeholder="Entrez une description"
        ></textarea>
        <div class="buttons">
          <button type="button" (click)="closeModal()" class="cancel">
            ANNULER
          </button>
          <button type="submit" class="confirm">CONFIRMER</button>
        </div>
      </form>
    </div>
  </div>
  
  <!-- Modal de modification -->
  <div class="modal-backdrop" *ngIf="showEditModal">
    <div class="modal">
      <header>
        <h2>Modifier une Cohorte</h2>
      </header>
      <form
        [formGroup]="editCohorteForm"
        (ngSubmit)="updateCohorte($event)"
      >
        <label for="edit-cohorte-name">Nom de la Cohorte</label>
        <input
          type="text"
          id="edit-cohorte-name"
          formControlName="nom_cohorte"
          placeholder="Entrez un nom"
        />
        <label for="edit-description">Description</label>
        <textarea
          id="edit-description"
          formControlName="description"
          placeholder="Entrez une description"
        ></textarea>
        <div class="buttons">
          <button type="button" (click)="closeEditModal()" class="cancel">
            ANNULER
          </button>
          <button type="submit" class="confirm">CONFIRMER</button>
        </div>
      </form>
    </div>
  </div>
  
  <!-- Modal de confirmation de suppression -->
  <div class="modal-backdrop" *ngIf="showDeleteModal">
    <div class="modal">
      <header>
        <h2>Confirmer la suppression</h2>
      </header>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer cette cohorte ?</p>
      </div>
      <div class="buttons">
        <button type="button" (click)="closeDeleteModal()" class="cancel">
          ANNULER
        </button>
        <button type="button" (click)="confirmDelete()" class="confirm">
          CONFIRMER
        </button>
      </div>
    </div>
  </div>
  
  <!-- Modal de confirmation de suppression multiple -->
  <div class="modal-backdrop" *ngIf="showDeleteMultipleModal">
    <div class="modal">
      <header>
        <h2>Confirmer la suppression multiple</h2>
      </header>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer les cohortes sélectionnées ?</p>
      </div>
      <div class="buttons">
        <button type="button" (click)="closeDeleteMultipleModal()" class="cancel">
          ANNULER
        </button>
        <button type="button" (click)="confirmDeleteMultiple()" class="confirm">
          CONFIRMER
        </button>
      </div>
    </div>
  </div>
  