<div class="dashboard-container">
    <app-navbar></app-navbar>

    <main class="dashboard-content">
        <!-- Cards Section -->
        <div class="stats-cards">
            <div class="stat-card">
                <div class="card-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="card-content">
                    <h3>Total des Employés</h3>
                    <p>{{ totalEmployes }}</p>
                </div>
            </div>
            <div class="stat-card blue-card">
                <div class="card-icon">
                    <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="card-content">
                    <h3>Total des Apprenants</h3>
                    <p>{{ totalApprenants }}</p>
                </div>
            </div>
        </div>

        <div class="info-card">
            <div class="row align-items-center">
                <!-- Heure et Date -->
                <div class="col-md-3 date-time">
                    <i class="bi bi-calendar text-warning me-2 fs-4"></i>
                    <div>
                        <p class="text-muted mb-0">{{ date.split(',')[0] }}</p>
                        <h4>{{ date.split(',')[1] }}</h4>
                    </div>
                </div>
                <!-- Statistiques -->
                <div class="col-md-9 stats-row">
                    <div class="stat-box large">
                        <div class="card-icon">
                            <i class="fas fa-building"></i>
                        </div>
                        <span class="stat-label">Départements</span>
                        <span class="stat-value">{{ totalDepartements }}</span>
                    </div>
                    <div class="stat-box large">
                        <div class="card-icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <span class="stat-label">Cohortes</span>
                        <span class="stat-value">{{ totalCohortes }}</span>
                    </div>
                    <div class="stat-box large">
                        <div class="card-icon">
                            <i class="fas fa-user-tie"></i>
                        </div>
                        <span class="stat-label">Nombre d'Admins</span>
                        <span class="stat-value">{{ totalAdmins }}</span>
                    </div>
                    <div class="stat-box large">
                        <div class="card-icon">
                            <i class="fas fa-shield-alt"></i>
                        </div>
                        <span class="stat-label">Nombre de Vigiles</span>
                        <span class="stat-value">{{ totalVigiles }}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Wrapper pour le contenu côte à côte -->
        <div class="row d-flex">
            <!-- Colonne de gauche pour la liste des présences -->
            <!-- Colonne de gauche pour la liste des présences -->
            <div class="col-md-8 d-flex">
                <div class="presence-section flex-grow-1">
                    <div class="presence-header">
                        <h2>Liste de Présences</h2>
                        <div class="presence-filters">
                            <span>Total: {{ filteredPresences.length }}</span>
                            <div class="d-flex justify-content-between mb-3">
                                <select class="form-select me-2" (change)="filterByType($event)">
               <option value="all">Tous</option>
               <option value="employe">Employés</option>
               <option value="apprenant">Apprenants</option>
             </select>
                                <input type="date" class="form-control me-2" (change)="filterByCreatedDate($event)">
                                <input type="text" class="form-control" placeholder="Rechercher nom..." (input)="filterByName($event)">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive flex-grow-1">
                        <table>
                            <thead>
                                <tr>
                                    <th>Matricule</th>
                                    <th>Employé/Apprenant</th>
                                    <th>Entrée</th>
                                    <th>Sortie</th>
                                    <th>Statut</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let presence of getPaginatedPresences()">
                                    <td>{{ presence.matricule }}</td>
                                    <td>{{ presence.prenom }} {{ presence.nom }}</td>
                                    <td>{{ presence.entree }}</td>
                                    <td>{{ presence.sortie }}</td>
                                    <td [class]="presence.status.toLowerCase()">{{ presence.status }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-controls">
                        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
                        <span>page {{ currentPage }} </span>
                        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === getTotalPages()">Suivant</button>
                    </div>
                </div>
            </div>



            <!-- Colonne de droite pour le diagramme -->
            <div class="card h-5">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Historique des Pointages</h5>
                        <select class="form-select" style="width: auto;" (change)="updateChartPeriod($event)">
                 <option value="day">Jour</option>
                 <option value="week">Semaine</option>
                 <option value="month">Mois</option>
               </select>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="presenceChart"></canvas>
                    <div class="stat-summary mt-4">
                        <div *ngFor="let stat of historiques" class="mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>{{stat.status | titlecase}}</span>
                                <span class="fw-bold">{{stat.count}}</span>
                            </div>
                            <div class="progress mt-2">
                                <div class="progress-bar" [ngClass]="{
                            'bg-success': stat.status === 'present',
                            'bg-danger': stat.status === 'absent',
                            'bg-warning': stat.status === 'retard'
                        }" [style.width.%]="(stat.count / calculateTotal()) * 100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>