<div class="container">
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <img src="sunuPointage.png" alt="Sunu Pointage" class="logo-img">
        </div>
        <h1 class="title">SUNU POINTAGE</h1>
        <div class="profile">
            <img src="vigile.png" alt="Profile" class="profile-img">
        </div>
    </header>

    <!-- Consulter la liste button -->
    <div class="list-button">
        <button class="btn-consult">Consulter la liste</button>
    </div>

    <div class="main-content">
        <!-- Profile Card -->
        <div class="profile-card">
            <div class="profile-image">
                <img src="inconnu.png" alt="Profile Picture">
            </div>
            <div class="profile-info">
                <div class="info-item">Matricule : en attente...</div>
                <div class="info-item">Nom : en attente...</div>
                <div class="info-item">Prenom : en attente...</div>
                <div class="info-item">Statut : en attente...</div>
            </div>
        </div>

        <div class="control-card">
            <h2>CONTROLE D'ACCES</h2>
            <div class="control-info">
                <div class="control-item">
                    <span class="bold">Premier pointage : </span>
                    <span class="status">en attente...</span>
                    <span class="status-icons">
                        <i class="fas fa-check success"></i>
                        <i class="fas fa-times error"></i>
                    </span>
                    <button class="small-btn">
                        <img src="accesAccorde.png" alt="Image 1" class="btn-icon"> <!-- Image du bouton 1 -->
                    </button>
                    <button class="small-btn">
                        <img src="AccesRefuse.jpeg" alt="Image 2" class="btn-icon"> <!-- Image du bouton 2 -->
                    </button>
                </div>
                <div class="control-item">
                    <span class="bold">Dernier pointage : </span>
                    <span class="status">en attente...</span>
                    <span class="status-icons">
                        <i class="fas fa-check success"></i>
                        <i class="fas fa-times error"></i>
                    </span>
                    <button class="small-btn">
                        <img src="accesAccorde.png" alt="Image 1" class="btn-icon"> <!-- Image du bouton 1 -->
                    </button>
                    <button class="small-btn">
                        <img src="AccesRefuse.jpeg" alt="Image 2" class="btn-icon"> <!-- Image du bouton 2 -->
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- Bottom Buttons accesAccorde.png  AccesRefuse.jpeg-->
    <div class="bottom-buttons ">
        <button class="btn-open ">OUVERTURE PORTE</button>
        <button class="btn-close ">FERMETURE PORTE</button>
        <div class="logout-container">
            <button class="btn-logout">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </div>
    </div>
</div>